.details-container {
	flex: 1;
	flex-direction: column;
}

.movie_card {
	max-width: 1903px;
	margin: 180px auto;
	overflow: hidden;
	transition: all 0.4s;

	.info_section {
		position: relative;
		width: 100%;
		z-index: 2;

		.movie_header {
			position: relative;
			padding: 25px;
			height: 40%;

			h1 {
				color: #0D08F9;
				font-weight: 400;
				font-Size: 35px;
				font-family: 'A-Space Demo';
			}

			h4 {
				color: #0D08F9;
				font-weight: 400;
			}

			.minutes {
				display: inline-block;
				margin-top: 15px;
				color: #0D08F9;
				padding: 5px;
				border-radius: 5px;
				border: 1px solid rgba(0, 0, 0, 0.05);
			}

			.type {
				display: inline-block;
				color: #0D08F9;
				margin-left: 10px;
				font-family: 'Oxanium';
			}

			.locandina {
				position: relative;
				float: left;
				margin-right: 20px;
				height: 400px;
				margin-bottom: 0px;
				border: 5px solid;
				border-color: #4B0082;
			}

		}

		.movie_desc {
			padding: 25px;
			height: 50%;

			.text {
				color: #000000;
			}
		}
	}

	.actors_horizontal {
		display: flex;
		flex-direction: row;
		align-items: center;
		
	}

	.actors_horizontal .actors_desc {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 10px;
		margin-left: 10px;
	}

	.actors_horizontal .actors_desc img {
		display: block;
		height: auto;
		margin-bottom: 20px;
	}

	.blur_back {
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		right: 0;
		background-size: 120px;
		border-radius: 11px;
	}

}

@media screen and (max-width: 768px) {
	.movie_card {
		width: 95%;
		margin: 70px auto;
		min-height: 350px;
		height: auto;
	}

	.blur_back {
		width: 100%;
		background-position: 50% 50% !important;
	}

	.movie_header {
		width: 100%;
		margin-top: 85px;
	}

	.movie_desc {
		width: 100%;
	}

}

@media screen and (min-width: 768px) {
	.movie_header {
		width: 65%;
	}

	.movie_desc {
		width: 90%;
	}

	.info_section {
		background-color: #c0c0c0;
	}

	.blur_back {
		width: 80%;
		background-position: -100% 10% !important;
	}

}